:root {
      --bg: #f4f4f4;
      --white: #ffffff;
      --text: #333;
      --muted: #777;
      --line: #d0d0d0;
      --accent: #222;
      --black: black;
      --black2: black;
      --head: #e5e5e5;
      --checkmarks: #2ecc71;
      --a_hover:#38b2ac;
    }

    body.dark {
      --bg: #1e1e1e;
      --white: #2b2b2b;
      --text: #f1f1f1;
      --muted: #aaa;
      --line: #444;
      --accent: #fff;
      --black: #777;
      --black2: #ffffff;
      --checkmarks: #2ecc71;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Segoe UI", Arial, sans-serif;
    }

    body {
      background: var(--bg);
      color: var(--text);
      padding: 20px;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      max-width: 1100px;
      background: var(--white);
      border-radius: 16px;
      margin: 0 auto;
      flex-grow: 1;
      width: 100%;
    }


    /* HEADER -----------------------------------*/
    .header {
      position: relative;
      display: flex;
      justify-content: space-between;
      grid-template-columns: 1fr auto;
      background: var(--head);
      padding: 30px;
      align-items: center;
      overflow: visible;
    }

    .header h1 {
      letter-spacing: 3px;
      font-size: 34px;
      color: var(--black);
    }

    .header h2 {
      margin-top: 8px;
      font-size: 14px;
      letter-spacing: 4px;
      color: var(--muted);
    }

    .photo img {
      position: absolute;
      top: -10px;
      right: 5%;
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 20px;
      border: 8px solid var(--a_hover);
      object-position: 50% 0%;
      z-index: 999;
    }

    /* CONTENT */
    .content {
      display: grid;
      grid-template-columns: 380px 1fr;
      position: relative;
    }

    .content::before {
      content: "";
      position: absolute;
      left: 380px;
      top: 0;
      bottom: 0;
      width: 1px;
      background: var(--line);
    }

    .left, .right {
      padding: 30px;
      padding-right: 10px;
      padding-left: 10px;
    }

    .block {
      border: 1px solid var(--head);
      border-radius: 20px;
      padding: 10px;
      margin: 5px;
    }
    .block p {
        padding-left: 10px;
    }

    .bookmark {
      display: flex;
      background-color: #f4f4f4;
      padding: 10px 10px 0 0;
    }

    .bookmark h2 {
      margin: 0;
      padding: 10px;
      border-radius: 15px 15px 0 0;
      background-color: #f4f4f4;
      transition: background-color 0.3s;
    }

    .bookmark h2.active {
      background-color: var(--white);
      box-shadow: 0 -3px 5px rgba(0,0,0,0.05);
    }

    .bookmark a {
      text-decoration: none;
      color: var(--muted);
      display: block;
    }

    h3 {
      margin: 10px 0 15px;
      padding-left: 10px;
      letter-spacing: 2px;
      font-size: 18px;
      color: var(--accent);
    }

    ul {
      list-style: none;
    }

    ul li {
      margin-bottom: 8px;
      padding-left: 10px;
      color: var(--muted);
      font-size: 14px;
      line-height: 1.5;
    }

    .contact p, .contact a {
      font-size: 14px;
      color: var(--muted);
      margin-bottom: 8px;
      display: flex;
      text-decoration: none;
    }

    .summary {
      font-size: 15px;
      line-height: 1.6;
      color: var(--muted);
    }

    .job {
      margin-bottom: 30px;
      padding-left: 10px;
    }

    .job-title {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .job-company {
      font-size: 14px;
      color: var(--muted);
      margin-bottom: 10px;
    }

    .job ul li {
      list-style: disc;
      margin-left: 20px;
    }

    .links a {
      display: block;
      margin-bottom: 10px;
      padding-left: 10px;
      color: var(--muted);
      text-decoration: none;
      font-size: 14px;
    }

    a:hover {
        color: var(--a_hover);
    }

    .contact-item {
      line-height: 1;
      display: flex;
      gap: 8px;
      list-style: none;
      padding-bottom: 0;
    }

    .contact-item a {
      display: inline-block;
      line-height: 1;
      text-decoration: none;
    }

    .copy-btn {
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      display: flex;
    }

    .copy-btn i {
      display: inline-flex;
      width: 15px;
      height: 15px;
      opacity: 0.5;
      transition: opacity 0.2s;
      line-height: 1.2;
      align-items: bottom;
      color: var(--text);
    }

    .copy-btn:hover i {
      opacity: 1;
    }

    .copy-btn.success {
      color: var(--checkmarks) !important;
    }

    .copy-btn.success i {
      color: var(--checkmarks) !important;
    }


    /* PRIVACY POLICY ------------------------------------------------*/
    main.pp {
      flex-grow: 0;
      align-self: center;
      margin-top: 5vh;
      margin-bottom: 5vh;
      width: 95%;
      max-width: 1100px;
    }

    .privacy_policy {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      border-top: 1px solid var(--line);
      font-size: 14px;
      color: var(--muted);
    }

    .privacy_policy a {
      color: var(--muted);
      text-decoration: none;
      transition: color 0.1s ease;
      position: relative;
    }

    .privacy_policy a:hover {
      color: var(--a_hover);
      text-decoration: underline;
    }

    .back-btn {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      margin: 10px 0 10px 15px;
      padding: 8px 16px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      color: var(--muted);
      background-color: var(--bg);
      border: 1px solid var(--line);
      border-radius: 8px;
      transition: all 0.1s ease;
    }

    .back-btn:hover {
      background-color: var(--a_hover);
      color: white;
      border-color: var(--accent-color);
      transform: translateX(-1px);
    }
    .back-btn i {
      font-size: 12px;
    }



    /* PERSONAL_PROJECTS ------------------------------------------------*/

    .projects-grid {
      padding: 35px 20px 10px 15px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .project-card {
      position: relative;
      height: 160px;
      border-radius: 15px;
      overflow: hidden;
      background: var(--white);
      border: 1px solid var(--line);
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .card-bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.8;
      transition: 0.3s;
      object-fit: cover;
      transform: scale(1.2);
      object-position: center 90%;

    }

    .project-card:hover .card-bg {
      opacity: 0.4;
      transform: scale(1.25);
    }

    .project-overlay {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 20px;
      z-index: 2;
      background: linear-gradient(to top, rgba(0,0,0,0.6) 0%, transparent 60%);
    }

    .project-overlay a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 0.85rem;
      padding: 8px 18px;
      border: 1.5px solid #fff;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.3);
      transition: 0.3s;
    }

    .project-overlay a:hover {
      background: var(--a_hover);
      border-color: var(--a_hover);
    }


    /* PRIVACY POLICY ------------------------------------------------*/
    .policy {
      max-width: 1200px;
      margin: 10px 15px;
      padding: 20px;
      border-radius: 12px;
      background-color: var(--white);
      color: var(--text-primary);
      line-height: 1.6;
      font-size: 14px;
      border: 1px solid var(--line);
    }
    .policy_h {
      color: var(--accent-color);
      margin-bottom: 0px;
      font-size: 1.2rem;
      padding: 15px 0 0 40px ;
    }
    .policy ul {
      list-style: none;
    }

    .policy li {
      color: var(--black2);
      margin-bottom: 12px;
      padding-left: 20px;
      position: relative;
    }
    .policy li::before {
      content: "•";
      color: var(--accent-color);
      position: absolute;
      left: 0;
      font-weight: bold;
    }
    .policy li strong {
      color: var(--text-highlight);
      display: block;
      margin-bottom: 2px;
    }

    /* TOGGLE -------------------------------------------------------*/
    .toggle {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background: var(--accent);
      color: var(--bg);
      border: none;
      padding: 10px 16px;
      border-radius: 20px;
      cursor: pointer;
      z-index: 10;
    }




    /* RESPONSIVE ------------------------------------------------*/
    @media (max-width: 900px) {
      .content {
        grid-template-columns: 1fr;
      }
      .left {
        padding: 10px 10px 0 10px !important;
      }
      .right {
        padding: 0px 10px 0 10px !important;
      }
      .content::before {
        display: none;
      }
    }


    @media (max-width: 815px) {
      .header {
        padding-bottom: 0px;
      }
      .name_block {
        margin-bottom: 15px;
      }
      .header {
        flex-direction: column;
      }
      .photo img {
        position: relative;
        display: block;
        margin: 10px auto 10px;
        width: 150px;
        height: 150px;
      }
      .projects-grid {
        grid-template-columns: 1fr;
      }
      .card-bg {
        transform: scale(1.05);
        object-position: center center;
        opacity: 0.7;
      }
      .projects-grid {
        grid-template-columns: 1fr;
        gap: 15px;
      }
    }




    @media (max-width: 768px) {
      .projects-grid {
        grid-template-columns: 1fr;
      }
      .card-bg {
        transform: scale(1.05);
        object-position: center center;
        opacity: 0.7;
      }
      .projects-grid {
        grid-template-columns: 1fr;
        gap: 15px;
      }
    }

    @media (max-width: 600px) {
      .privacy_policy {
        flex-direction: column;
        gap: 10px;
        text-align: center;
      }
    }

    @media (max-width: 590px) {
      .bookmark {
        display: flex;
        padding: 10px 0 0 0;
        gap: 0;
        text-align:center;
        word-spacing: 100vw;
      }
      .bookmark h2 {
        justify-content: center;
      }
      .contact {
        display: block;
      }
    /* privacy policy */
      .policy {
        padding: 15px;
        font-size: 13px;
      }
    }

    @media (max-width: 570px) {
      .photo img {
        position: static;
        display: block;
        margin: 0 auto 15px;
        width: 150px;
        height: 150px;
      }
      .header {
        flex-direction: column;
      }
      .name_block {
        margin-bottom: 15px;
      }
      .name_block h1,
      .name_block h2{
        align-items: center;
        text-align: center;
        width: 100%;
      }
      .bookmark {
        display: flex;
        padding: 10px 0 0 0;
        gap: 0;
        text-align:center;
      }
      .bookmark h2 {
        flex: 1;
      }
    }
